body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilos para el contenedor de tallas */
.size-container {
    align-self: flex-end; /* Alinea el contenedor de tallas al final del contenedor del producto */
    margin-top: 0px; /* Margen superior */
}

/* Estilos para la etiqueta de tallas */
.size-container label {
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para el contenedor de cantidad */
.quantity-container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos para la etiqueta de cantidad */
.quantity-container label {
    margin-right: 10px; /* Margen derecho */
}

/* Estilos para el campo de entrada de cantidad */
.quantity-container input[type="number"] {
    width: 50px; /* Ancho del campo de entrada */
}

.product {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-image {
    float: left;
    width: 50%;
    padding: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    float: left;
    width: 50%;
    padding: 20px;
}

.product-info h2 {
    margin-top: 0;
}

.price {
    font-size: 24px;
    color: #000000;
}

.description {
    color: #666;
}

button {
    background-color: #009933;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007a29;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }